/* -------------- Start Designing Default ----------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'myFont';
}

body {
    background-color: #ddd;
}

.overflew {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
    transition: .7s ease-in-out;
    -webkit-transition: .7s ease-in-out;
    -moz-transition: .7s ease-in-out;
    -ms-transition: .7s ease-in-out;
    -o-transition: .7s ease-in-out;
}

@font-face {
    font-family: 'myFont';
    src: url('../../web/fonts/Cairo-VariableFont_slnt\,wght.ttf');
}

@font-face {
    font-family: 'waiter';
    src: url('../../web/fonts/Lalezar-Regular.ttf');
}
/* -------------- End Designing Default ----------- */

/* -------------- Start Designing Header ----------- */
header.main_header {
    background-image: url(../img/background-banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 45vh;
}

header .header_msg {
    position: absolute;
    background-color: rgba(0, 0, 0, .7);
    top: 75%;
    right: 15%;
    height: 40%;
    width: 35%;
    transform: translate(-15%, -80%);
    -webkit-transform: translate(-15%, -80%);
    -moz-transform: translate(-15%, -80%);
    -ms-transform: translate(-15%, -80%);
    -o-transform: translate(-15%, -80%);
}

header .header_msg .logo img {
    height: 10vh;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

header .header_msg .msg_para {
    color: white;
}

header .btns {
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-10%, -10%);
    -webkit-transform: translate(-10%, -10%);
    -moz-transform: translate(-10%, -10%);
    -ms-transform: translate(-10%, -10%);
    -o-transform: translate(-10%, -10%);
}

/* -------------- End Designing Header ----------- */

/* -------------- Start Designing Sections Section ----------- */
.sections {
    background-color: white;
    padding: 20px 0;
}

.sections h4 {
    font-size: 21px;
    cursor: pointer;
}

/* -------------- End Designing Sections Section ----------- */

/* -------------- Start Designing Sections Info Section ----------- */
.sections_info {
    margin: 15px 0;
}

.sections .sections_links .links a {
    color: black;
}

.sections .sections_links .links a:hover {
    color: brown;
    border-bottom: 1px solid brown;
    padding-bottom: 5px;
}

/* --- Start Designing Product Section --- */
.sections_info .products .product_box,
.sections_info .order_info .order_box {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0px 1px 4px 1px grey;
}

.sections_info .products .cat_title {
    background-color: #ddd;
    font-size: 21px;
    padding: 10px 0;
}

.sections_info .products .product_content button.text-white {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    background-color: #198754;
    margin: 0 10px;
}

.products .product_content .product_img img {
    max-width: 190px;
    max-height: 100px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.products .product_content {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid gray;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* --- End Designing Product Section --- */

/* --- Start Designing Order Info Section --- */
.sections_info .order_info .order_box .cat_title {
    background-color: #ddd;
    font-size: 16px;
    padding: 7px 0;
}

.sections_info .order_info .order_items {
    padding-bottom: 7px;
    border-bottom: 1px solid rgb(121, 116, 116);
}

.sections_info .order_info .order_items .romove {
    background-color: red;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    border: 1px solid black;
}

.sections_info .order_info {
    top: 0;
    left: 0;
}

/* --- End Designing Order Info Section --- */

/* -------------- End Designing Sections Info Section ----------- */

/* -------------- Start Designing Cart Section ----------- */
.cart_header {
    background-color: grey;
    height: 20vh;
    padding: 10px 0;
}

.cart_header .btns.position-absolute {
    left: 10%;
}

.cart {
    min-height: 70vh;
}

.cart h3 {
    background-color: black;
    color: white;
    padding: 10px;
}

.cart .cart_list .cart_item_img img {
    max-width: 190px;
    max-height: 100px;
}

.cart .cart_list .cart_remove {
    width: 40px;
    max-height: 40px;
    line-height: 40px;
    text-align: center;
}

.cart .cart_list .update_quanty {
    border: none;
    color: white;
    padding: 5px;
    background-color: #198754;
    border-radius: 5px;
}

.cart .cart_list .remove_item {
    border: none;
    background-color: #d51212;
    border-radius: 5px;
}

.cart .remove_all {
    border: none;
    background-color: #d51212;
    color: white;
    border-radius: 7px;
    padding: 5px;
}

/* -------------- End Designing Cart Section ----------- */

/* -------------- Start Designing Waiter Section ----------- */
.waiter {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: rgb(59, 156, 91);
    padding: 10px;
    width: 30%;
    z-index: 9999;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: none;
}

.waiter .title {
    border-bottom: 1px solid rgb(51, 50, 50);
    padding-bottom: 10px;
    font-family: 'waiter';
}

/* -------------- End Designing Waiter Section ----------- */

/* -------------- Start Designing Order Page ----------- */
.orders_page{
    min-height: 68vh;
}
.orders_page .order_items .title{
    font-size: 20px;
    margin: 10px 0;
}
.orders_page .order_items .order_items_box .order_items_box_content{
    background-color: white;
    width: fit-content;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.orders_page .order_items .order_items_box .order_items_box_content .order_items_box_img img{
    max-width: 250px;
    min-width: 250px;
    min-height: 140px;
    max-height: 140px;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
}
.orders_page .order_items .order_items_box .order_items_box_content .order_items_box_info{
    padding: 10px;
}
.orders_page .from_rest,
.orders_page .delivery_rest{
    display: none;
}
/* -------------- End Designing Order Page ----------- */

/* -------------- Start Designing footer ----------- */
footer {
    background-color: white;
    padding: 20px 0;
}

/* -------------- End Designing footer ----------- */


.product_content.test .own_img .hide {
    display: none;
}



/* -------------- Start Designing Model ----------- */

/* ----- Start Designing Product Model ----- */
.product_model{
    position: fixed;
    top: 20%;
    left: 50%;
    width: 30%;
    max-height: 90vh;
    z-index: 9999;
    padding: 10px;
    overflow-x: scroll;
    background-color: #ffffff;
    border-radius: 5px;
    transform: translate(-50%,-20%);
    -webkit-transform: translate(-50%,-20%);
    -moz-transform: translate(-50%,-20%);
    -ms-transform: translate(-50%,-20%);
    -o-transform: translate(-50%,-20%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.product_content.hide_model .product_model{
    display: none;
}
.sections_info .products .product_box .product_model .title{
    background-color: rgb(189, 186, 186);
    padding: 7px;
}
.sections_info .products .product_box .product_model .title h4{
    font-family: 'waiter';
}
.sections_info .products .product_box .product_model .product_model_img img{
    max-width: 100%;
    max-height: 220px;
    margin: 5px 0;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.product_content .product_model p.quantity{
    background-color: #d3d4d5;
}
.product_content .product_model .total_price{
    background-color: #313185;
    text-align: center;
    color: white;
    padding: 3px 0;
    border-radius: 5px;
    margin: 5px 0;
}
/* ----- End Designing Product Model ----- */
/* -------------- End Designing Model ----------- */